/venv/
*/__pycache__
/.idea/
/gitignore/
/db/likr.pem
/db/settings.json
/db/sysconfig.ini
/db/sysconfig_local.ini


/utils/
/cdp_import_rawdata.py
/s3_parser/s3_settings.json
/s3_parser/data_list.pickle
/logger/slack_settings.json
/s3data/
/keyword_usertag_uuid_.py
/keyword_usertag_uuidSorting.py
/log/
